.Button {
  border-width: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  display: inline-block;
  transition: background-color 0.2s;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  padding: 13px 30px;
  border-radius: 4px;
}

.Button:hover,
.Button:focus {
  text-decoration: none;
}

.Button--primary {
  background-color: #53a245;
  color: #fff;
  border: 1px solid #53a245;
}

.Button--primary:hover {
  background-color: #3c8b2e;
}

.Button--secondary {
  color: #53a245;
  background-color: #fff;
  border: 1px solid #53a245;
}

.Button--secondary:hover {
  background-color: #53a245;
  color: #fff;
}
